/*Basics to get the scrollispy on bootstrap working on the site*/

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 32px 0 36px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/**********************************************/
/*The div section should be classed down bellow*/
/**********************************************/
.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

#navbar{
    background-color: black;
    border-bottom: none;
    color: white(!important);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.intro-section{
    min-height: 30%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: black;
}

.big-section{
    min-height: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: black;
}

.about-section, .brainstorm-section,.project-section, .skillset-section{
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: #eee;
}

.footer-section{
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #eee;
}

.active{
    border-top: 2px solid white;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nac .hover a, .navbar-default .navbar-nac .visited a{
    background-color: black;
}


.navbar-nav li a{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
