/*Fun effect to reuse this is a partial*/

.parallax {
    /* The image used */
    /*Insert the image needed below*/
    background-image: url("images/lion.jpg");
    background-size: contain;
    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/*Heres the snow effect*/
.center{
  position:absolute;
  top:0;
  bottom: 0;left: 0;right: 0;
  color:#fff;
  display:flex;
  align-items:center;
  .text-center{
    text-align:center;
    width:100%;
  }
}

#snow{
  font-family: 'Press Start 2P', cursive;
  display:inline-block;
  padding-right:5px;
  border-right:10px solid #fff;
  animation:blink 1s infinite;
  font-size: 40px;
  @media screen and (max-width: 370px){
    font-size:14px;
    border-right:4px solid #fff;
  }
}

@keyframes blink{
  0%{
    border-right-color:transparent;
  }
  50%{
    border-right-color:transparent;
  }
  51%{
    border-right-color:#fff;
  }
  100%{
    border-right-color:#fff;
  }
}

canvas{
  background:#000;
  width:100%;
  height:100%;
}

/*This is for the modal box*/
.box-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: blue;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: black;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

/*Changing up the particle effects on the hero section*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#aa_particles {
  z-index: 4;
  height: 100%;
  height: 100vh;
}

.aa_sec {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0  auto;
}

.aa_txt {
  font-size: 60pt;
  font-family: Roboto;
  text-align: center;
  color: #674172;
}

@media only screen and (max-width: 800px) {

   .aa_txt {
      font-size: 40pt;
   }

}

@media only screen and (max-width: 600px) {

   .aa_txt {
      font-size: 30pt;
   }

}

@media only screen and (max-width: 460px) {

   .aa_txt {
      font-size: 20pt;
   }
}

.aa_inner {
  padding: 0 2rem;
  text-transform: uppercase;
  background: #ffffff;
}

.aa_of {
  padding: 1rem;
  color: #ffffff;
  background: #583862;
}

/*For the chevron*/
#chevron{
  display: none;
}

a.scroll-up {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 25px;
    color: #ED5A64;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 16px;
    width: 45px;
    height: 44px;
    text-align: center;
    padding-top: 9px;
    z-index: 1000;
    transition-duration: 0.5s;
    background-color: #2F4254;
    border-radius: 50%;
}

a, a:focus, a:hover {
    outline: 0 none;
    text-decoration: none;
}

/*Section seperators*/

/*social Media*/

/*List of skills*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

#techList {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15pt;
  text-transform: uppercase;
  color: #666;
}

#techList li {
  position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform:
      scale(7.5, 7.8)
      translate(1.18em, .68em);
  -moz-transform:
      scale(7.5, 7.8)
      translate(1.18em, .68em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
  -webkit-transform:
      scale(1.4)
      rotate(90deg)
      translate(3.88em, -13.2em);
  -moz-transform:
      scale(1.4)
      rotate(90deg)
      translate(3.88em, -13.2em);
}

.accessibility {
  letter-spacing: .05em;
  font-weight: 300;
  -webkit-transform:
      scale(1.4, 1.33)
      rotate(90deg)
      translate(5.65em, -18.0em);
  -moz-transform:
      scale(1.4, 1.33)
      rotate(90deg)
      translate(4.1em, -18.0em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform:
      scale(2)
      translate(2.12em, 5.14em);
  -moz-transform:
      scale(2)
      translate(2.12em, 5.14em);
}

.usability {
  font-weight: 400;
  letter-spacing: -.04em;
  -webkit-transform:
      scale(2.85, 3)
      translate(7.14em, 3.55em);
  -moz-transform:
      scale(2.85, 3)
      translate(7.14em, 3.55em);
}

.bootstrap {
  letter-spacing: -0.01em;
  font-weight: 700;
  -webkit-transform:
      scale(2.4, 2.3)
      rotate(90deg)
      translate(6.3em, -5.8em);
  -moz-transform:
      scale(2.4, 2.3)
      rotate(90deg)
      translate(6em, -5.8em);
}

.css3 {
  letter-spacing: .01em;
  font-weight: 700;
  -webkit-transform:
      scale(6.8, 6.75)
      rotate(90deg)
      translate(1.32em, -4.54em);
  -moz-transform:
      scale(6.8, 6.75)
      rotate(90deg)
      translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
  -webkit-transform:
      scale(3.88, 3.8)
      translate(5.42em, 3.72em);
  -moz-transform:
      scale(3.88, 3.8)
      translate(5.42em, 3.72em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform:
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
  -moz-transform:
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: 0.09em;
  -webkit-transform:
      scale(2.75, 3)
      translate(1.72em, 4.95em);
  -moz-transform:
      scale(2.75, 3)
      translate(1.72em, 4.95em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform:
      scale(3.9, 4)
      translate(6.05em, .95em);
  -moz-transform:
      scale(3.9, 4)
      translate(6.05em, .95em);
}

.django {
  font-weight: 700;
  letter-spacing: 0.3em;
  word-spacing: .2em;
  -webkit-transform:
      scale(2)
      translate(2.28em, 8.58em);
  -moz-transform:
      scale(2)
      translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform:
      scale(2)
      translate(12.7em, 8.6em);
  -moz-transform:
      scale(2)
      translate(12.7em, 8.6em);
}

.coffee {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
      scale(3.4)
      translate(7.03em, 2.15em);
  -moz-transform:
      scale(3.4)
      translate(7.03em, 2.15em);
}

.skills {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
  -moz-transform:
      scale(1.8)
      translate(9.95em, 9.55em);
}


/*Cards*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
    padding: 2px 16px;
}


/*Timeline*/

/*Terminal*/
#container-term {
    height: 100%;
    width: 100%;
}

.row-term {
    clear: both;
}

.column-term {
    text-align: center;
    width: 50%;
    float: center;
}

.shell {
    display: inline-block;
    height: 250px;
    width: 90%;
}


