/*Basic transition effects*/
.fade
{
        opacity:1;
}
.fade:hover
{
        opacity:0.5;
}

.color:hover
{
        background:#CC085E;
}

.thread:hover
{
        box-shadow:
                1px 1px black,
                2px 2px black,
                3px 3px black;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
