/*Add in imports here  (to the other scss files)*/



/*Header*/



/*Nav Bar*/



/*Sections and Content*/
.about .projects .brainstorm{
    height: auto;
    width: auto;
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #f4f7f6;
    padding: 100px 100px;
}


/*Footer*/
