/*Basic typogrpahy*/


h1 h2 h3 {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

div{
    display: block;
    margin: 0 auto;
    height: 100%;
}

p{
  color: #777;
  font-family: 'Open Sans',sans-serif;
  font-size: 22px;
  margin-bottom: 25px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  box-sizing: inherit;
  margin: 0 0 10px;
}
